# Pandas

In [2]:
import pandas as pd
import numpy as np

In [3]:
def gerador_serie_historica(valor_inicial, volatilidade, periodos, dia_inicial, frequencia = 'M'):
    vetor = [valor_inicial]

    for i in range(periodos-1):
        preco = vetor[i] * (1 + np.random.normal(0, volatilidade))

        vetor.append(preco)

    serie = pd.Series(vetor, index = pd.date_range(dia_inicial, periods= periodos, freq= frequencia))

    return serie

In [11]:
serie_euro = gerador_serie_historica(5, 0.01, 5, '2023-10-10')
serie_cotacoes = gerador_serie_historica(20, 0.05, 5, '2023-8-10')

print(serie_cotacoes)
serie_euro

2023-08-31    20.000000
2023-09-30    19.304368
2023-10-31    18.733540
2023-11-30    19.456995
2023-12-31    20.379877
Freq: M, dtype: float64

2023-10-31    5.000000
2023-11-30    5.021592
2023-12-31    4.939192
2024-01-31    4.949980
2024-02-29    4.884339
Freq: M, dtype: float64

    - Operações entre series
        - as operações são feitas com base nos índices

In [12]:
serie_cotacoes_em_euro = serie_cotacoes * serie_euro
serie_cotacoes_em_euro
#Nan Ocorre pois nao tem os mesmos dados nas duas tabelas

2023-08-31           NaN
2023-09-30           NaN
2023-10-31     93.667698
2023-11-30     97.705079
2023-12-31    100.660133
2024-01-31           NaN
2024-02-29           NaN
Freq: M, dtype: float64

In [14]:
serie_lucro = gerador_serie_historica(2, 0.5, 5, '2023-01-01')
serie_cotacoes = gerador_serie_historica(20, 0.5, 5, '2023-01-01')

df = pd.DataFrame({
    'cotacao': serie_cotacoes,
    'lucro_por_acao': serie_lucro
})
df

              cotacao  lucro_por_acao
2023-01-31  20.000000        2.000000
2023-02-28  28.488315        2.959751
2023-03-31  59.082677        2.581095
2023-04-30  61.044346        1.717894
2023-05-31  79.261029        2.307181

    - criando coluna P/L

In [15]:
df['p_l'] = df['cotacao'] / df['lucro_por_acao']

df

              cotacao  lucro_por_acao        p_l
2023-01-31  20.000000        2.000000  10.000000
2023-02-28  28.488315        2.959751   9.625241
2023-03-31  59.082677        2.581095  22.890543
2023-04-30  61.044346        1.717894  35.534402
2023-05-31  79.261029        2.307181  34.354053

    - exemplos de outras operações

In [16]:
print(df['cotacao'] + df['p_l'])
print(df['cotacao'] - df['p_l'])
print(df['cotacao'] * df['p_l'])
print(df['cotacao'] ** df['p_l'])

2023-01-31     30.000000
2023-02-28     38.113555
2023-03-31     81.973220
2023-04-30     96.578748
2023-05-31    113.615082
Freq: M, dtype: float64
2023-01-31    10.000000
2023-02-28    18.863074
2023-03-31    36.192133
2023-04-30    25.509944
2023-05-31    44.906977
Freq: M, dtype: float64
2023-01-31     200.000000
2023-02-28     274.206881
2023-03-31    1352.434550
2023-04-30    2169.174320
2023-05-31    2722.937588
Freq: M, dtype: float64
2023-01-31    1.024000e+13
2023-02-28    1.003500e+14
2023-03-31    3.545562e+40
2023-04-30    2.830366e+63
2023-05-31    1.739392e+65
Freq: M, dtype: float64

    - Operações dentro de uma mesma coluna
        - sum, mean, std, min, max, ...

In [18]:
#somar dados de uma coluna
serie_lucro_trimestral = gerador_serie_historica(2000, 2, 4,"2023-01-01", frequencia= 'Q')

lucro_anual = serie_lucro_trimestral.sum()
lucro_anual

14150.646505957957

In [21]:
#acumular valores de uma coluna com o indice
serie_lucro_trimestral = gerador_serie_historica(2000, 2, 4,"2023-01-01", frequencia= 'Q')

print(serie_lucro_trimestral)
crescimento_lucros =  serie_lucro_trimestral.cumsum()
crescimento_lucros

2023-03-31     2000.000000
2023-06-30    14642.268597
2023-09-30    45457.311750
2023-12-31     -464.531638
Freq: Q-DEC, dtype: float64

2023-03-31     2000.000000
2023-06-30    16642.268597
2023-09-30    62099.580348
2023-12-31    61635.048710
Freq: Q-DEC, dtype: float64

In [22]:
#df base
dict_desafio = {
    "tickers" : ["WEGE3", "PETR3", "VALE3", "PETR4", "LREN3"],
    "cotacoes": [20, 30, 40, 12, 35],
    "nomes": ['Weg', 'Petro', 'Vale', 'Petro', 'Lojas Renner'],
    "preco_sobre_lucro": [25, 6, 12, 7, 25],
    "volume": [5000, 1000, 4000, 7000, 1200]
    }

df = pd.DataFrame(dict_desafio, index= [1, 2, 3, 4, 5])
df = df.set_index("tickers")
df.columns = ['preco', 'nomes', 'preco_sobre_lucro', 'volume']
df

         preco         nomes  preco_sobre_lucro  volume
tickers
WEGE3       20           Weg                 25    5000
PETR3       30         Petro                  6    1000
VALE3       40          Vale                 12    4000
PETR4       12         Petro                  7    7000
LREN3       35  Lojas Renner                 25    1200

In [23]:
#50 nova coluna lucro por acao
df['lucro_por_acao'] = df['preco'] / df['preco_sobre_lucro']
df

         preco         nomes  preco_sobre_lucro  volume  lucro_por_acao
tickers
WEGE3       20           Weg                 25    5000        0.800000
PETR3       30         Petro                  6    1000        5.000000
VALE3       40          Vale                 12    4000        3.333333
PETR4       12         Petro                  7    7000        1.714286
LREN3       35  Lojas Renner                 25    1200        1.400000

In [35]:
#51 preco em dolar'-'
dolar = 5.25
df['preco_em_dolar'] = df['preco'] / dolar

df

,preco,nomes,preco_sobre_lucro,volume,lucro_por_acao,preco_em_dolar
tickers,,,,,,
WEGE3,20,Weg,25,5000,0.800000,3.809524
PETR3,30,Petro,6,1000,5.000000,5.714286
VALE3,40,Vale,12,4000,3.333333,7.619048
PETR4,12,Petro,7,7000,1.714286,2.285714
LREN3,35,Lojas Renner,25,1200,1.400000,6.666667

In [25]:
#52 volume negociado por todas as açoes
volume_total = df['volume'].sum()
volume_total

18200

In [39]:
#53 acoes com maior e menor lucro
menor_lucro = df.loc[df['lucro_por_acao'] == df['lucro_por_acao'].min()]
nome_menor_lucro = menor_lucro.iat[0, 1]
print(nome_menor_lucro)

maior_lucro = df.loc[df['lucro_por_acao'] == df['lucro_por_acao'].max()]
nome_maior_lucro = maior_lucro.iat[0, 1]
print(nome_maior_lucro)




# menor_lucro = df.loc[df['lucro_por_acao'].min(), 'lucro_por_acao']
# print(menor_lucro)
# maior_lucro = df.loc[df['lucro_por_acao'].max(), 'lucro_por_acao']
# print(maior_lucro)

Weg
Petro