# Pandas

In [47]:
import pandas as pd

In [48]:
df_cambio = pd.DataFrame({
    'moeda': ['dolar/real', 'libra/real'] * 4,
    'price': [5.24, 4.14, 4.32, 4.56, 5.13, 4.50, 5.01, 4.93],
    'derivativo': list(['DOLFT3', 'LIBFT3']) * 4},
    index = sorted(list(pd.date_range("1/5/2014", periods = 4)) * 2)
)
df_cambio

                 moeda  price derivativo
2014-01-05  dolar/real   5.24     DOLFT3
2014-01-05  libra/real   4.14     LIBFT3
2014-01-06  dolar/real   4.32     DOLFT3
2014-01-06  libra/real   4.56     LIBFT3
2014-01-07  dolar/real   5.13     DOLFT3
2014-01-07  libra/real   4.50     LIBFT3
2014-01-08  dolar/real   5.01     DOLFT3
2014-01-08  libra/real   4.93     LIBFT3

- loc
- iloc

In [49]:
#loc serve para localizar através de nomes

#um unico dia 
print(df_cambio.loc['2014-01-05'])

#algum periodo de dias
print(df_cambio.loc['2014-01-05': '2014-01-07'])

                 moeda  price derivativo
2014-01-05  dolar/real   5.24     DOLFT3
2014-01-05  libra/real   4.14     LIBFT3
                 moeda  price derivativo
2014-01-05  dolar/real   5.24     DOLFT3
2014-01-05  libra/real   4.14     LIBFT3
2014-01-06  dolar/real   4.32     DOLFT3
2014-01-06  libra/real   4.56     LIBFT3
2014-01-07  dolar/real   5.13     DOLFT3
2014-01-07  libra/real   4.50     LIBFT3

In [50]:
#filtrando a linha e a coluna 
print(df_cambio.loc['2014-01-05', 'price'])
print('')

#filtrando a linha e as colunas 
print(df_cambio.loc['2014-01-05', ['moeda', 'derivativo']])
print('')

# ':' filtra para todos os dados
print(df_cambio.loc[:, ['moeda', 'derivativo']])
print('')

2014-01-05    5.24
2014-01-05    4.14
Name: price, dtype: float64

                 moeda derivativo
2014-01-05  dolar/real     DOLFT3
2014-01-05  libra/real     LIBFT3

                 moeda derivativo
2014-01-05  dolar/real     DOLFT3
2014-01-05  libra/real     LIBFT3
2014-01-06  dolar/real     DOLFT3
2014-01-06  libra/real     LIBFT3
2014-01-07  dolar/real     DOLFT3
2014-01-07  libra/real     LIBFT3
2014-01-08  dolar/real     DOLFT3
2014-01-08  libra/real     LIBFT3

### loc x at
    - at é igual ao loc, só que serve para localizar um único item.
    - é mais otimizado, usado para loops
    - at é mais usado para alterar valores unicos
    - loc para alterar multiplos valores

In [51]:


df_cambio.at['2014-01-05', 'price']

2014-01-05    5.24
2014-01-05    4.14
Name: price, dtype: float64

In [52]:
df_cambio

                 moeda  price derivativo
2014-01-05  dolar/real   5.24     DOLFT3
2014-01-05  libra/real   4.14     LIBFT3
2014-01-06  dolar/real   4.32     DOLFT3
2014-01-06  libra/real   4.56     LIBFT3
2014-01-07  dolar/real   5.13     DOLFT3
2014-01-07  libra/real   4.50     LIBFT3
2014-01-08  dolar/real   5.01     DOLFT3
2014-01-08  libra/real   4.93     LIBFT3

### iloc
    - serve para selecionar itens através de incies numericos
    - parecido com o funcionamento das listas

In [53]:
#.iloc[line, col]

print('#primeira linha / todas colunas')
print(df_cambio.iloc[0, :])
print('')

print('#tres primeiras linhas / todas colunas')
print(df_cambio.iloc[:3, :])
print('')

print('#todas as linhas primeira coluna')
print(df_cambio.iloc[:, 0])
print('')


print('#primeiro preco do cambio')
print(df_cambio.iloc[0, 1])
print('')
#iloc com duas posicoes definidas (sem ser range) retornam valores unicos

#primeira linha / todas colunas
moeda         dolar/real
price               5.24
derivativo        DOLFT3
Name: 2014-01-05 00:00:00, dtype: object

#tres primeiras linhas / todas colunas
                 moeda  price derivativo
2014-01-05  dolar/real   5.24     DOLFT3
2014-01-05  libra/real   4.14     LIBFT3
2014-01-06  dolar/real   4.32     DOLFT3

#todas as linhas primeira coluna
2014-01-05    dolar/real
2014-01-05    libra/real
2014-01-06    dolar/real
2014-01-06    libra/real
2014-01-07    dolar/real
2014-01-07    libra/real
2014-01-08    dolar/real
2014-01-08    libra/real
Name: moeda, dtype: object

#primeiro preco do cambio
5.24

### iloc x iat
    - iloc pode filtrar por range
    - iat só aceita valores inteiros
    - É mais otimizado para loops

In [54]:
print('df_cambio.iloc[0, 1]')
print(df_cambio.iloc[0, 1])
print('')

print('df_cambio.iat[0, 1]')
print(df_cambio.iat[0, 1])
print('')

df_cambio.iloc[0, 1]
5.24

df_cambio.iat[0, 1]
5.24

    - Substituir dados com 'loc'

In [55]:
df_cambio_teste = df_cambio

#se um ativo mudar o código de negociação?
print(df_cambio_teste)

df_cambio_teste.loc[df_cambio_teste['derivativo'] == "DOLFT3", 'derivativo'] = "DOLFT4"
print(df_cambio_teste)

#se nao passar uma "celula" exata, acontece de substituir todos os valores das outras colunas 
#que satisfaçam o condicional passado
df_cambio_teste.loc[df_cambio_teste['derivativo'] == "DOLFT4"] = "ZONA"
print("ZONA")
print("ZONA")
print(df_cambio_teste)

                 moeda  price derivativo
2014-01-05  dolar/real   5.24     DOLFT3
2014-01-05  libra/real   4.14     LIBFT3
2014-01-06  dolar/real   4.32     DOLFT3
2014-01-06  libra/real   4.56     LIBFT3
2014-01-07  dolar/real   5.13     DOLFT3
2014-01-07  libra/real   4.50     LIBFT3
2014-01-08  dolar/real   5.01     DOLFT3
2014-01-08  libra/real   4.93     LIBFT3
                 moeda  price derivativo
2014-01-05  dolar/real   5.24     DOLFT4
2014-01-05  libra/real   4.14     LIBFT3
2014-01-06  dolar/real   4.32     DOLFT4
2014-01-06  libra/real   4.56     LIBFT3
2014-01-07  dolar/real   5.13     DOLFT4
2014-01-07  libra/real   4.50     LIBFT3
2014-01-08  dolar/real   5.01     DOLFT4
2014-01-08  libra/real   4.93     LIBFT3
ZONA
ZONA
                 moeda price derivativo
2014-01-05        ZONA  ZONA       ZONA
2014-01-05  libra/real  4.14     LIBFT3
2014-01-06        ZONA  ZONA       ZONA
2014-01-06  libra/real  4.56     LIBFT3
2014-01-07        ZONA  ZONA       ZONA
2014-01-07  libra/real   4.5     LIBFT3
2014-01-08        ZONA  ZONA       ZONA
2014-01-08  libra/real  4.93     LIBFT3

C:\Users\Gabriel\AppData\Local\Temp\ipykernel_14992\1264014915.py:11: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value 'ZONA' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df_cambio_teste.loc[df_cambio_teste['derivativo'] == "DOLFT4"] = "ZONA"

### Desafios

In [57]:
#base #36
#exercicio 36
dict_desafio = {
    "tickers" : ["WEGE3", "PETR3", "VALE3", "PETR4", "LREN3"],
    "cotacoes": [20, 30, 40, 12, 35],
    "nomes": ['Weg', 'Petro', 'Vale', 'Petro', 'Lojas Renner'],
    "preco_sobre_lucro": [25, 6, 12, 7, 25],
    "volume": [5000, 1000, 4000, 7000, 1200]
    }

dataframe_desafio = pd.DataFrame(dict_desafio, index= [1, 2, 3, 4, 5])
dataframe_desafio = dataframe_desafio.set_index("tickers")
dataframe_desafio.columns = ['preco', 'nomes', 'preco_sobre_lucro', 'volume']
dataframe_desafio

         preco         nomes  preco_sobre_lucro  volume
tickers
WEGE3       20           Weg                 25    5000
PETR3       30         Petro                  6    1000
VALE3       40          Vale                 12    4000
PETR4       12         Petro                  7    7000
LREN3       35  Lojas Renner                 25    1200

In [63]:
#47 
print(dataframe_desafio.loc['WEGE3'])
print('')
print(dataframe_desafio.loc[:, 'preco'])

preco                  20
nomes                 Weg
preco_sobre_lucro      25
volume               5000
Name: WEGE3, dtype: object

tickers
WEGE3    20
PETR3    30
VALE3    40
PETR4    12
LREN3    35
Name: preco, dtype: int64

In [75]:
#48 wege e preco com at e iat
print(dataframe_desafio.at['WEGE3', 'preco'])
print('')
print(dataframe_desafio.iat[0, 0])

20

20

In [76]:
#49 duas primeiras linhas de todas as colunas iloc
dataframe_desafio.iloc[:2, :]

         preco  nomes  preco_sobre_lucro  volume
tickers
WEGE3       20    Weg                 25    5000
PETR3       30  Petro                  6    1000